body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #001f4d, #004aad);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
  color: #004aad;
}

input {
  width: 250px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #004aad;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
}
